group1: 
  check:    tcp
  port:     443
  method:   random
  host: 
    node1:  tw.yahoo.com
    node2:  google.com

group2:
  check:    tcp
  port:     80
  method:   weight
  host:
    node58: 172.21.17.58
    node59: 172.21.17.59
  weight:
    node58: 1
    node59: 1

group3:
  check:    http #http/https cehck uri
  uri:      /ok.html
  method:   failover
  host:
    node1:  172.21.17.60
    node2:  172.21.17.61
    node3:  tw.yahoo.com
  order:    [node1, node3]
  timeout:  3000 #millisecond

group4:
  check:    ping
  host:
    host1:  tw.yahoo.com
    host2:  172.21.17.61
  timeout:  5000 #minisecond
