group1: 
  check:    tcp
  port:     443
  method:   random
  host: 
    node1:  tw.yahoo.com
    node2:  google.com

group2:
  check:    tcp
  port:     80
  method:   weight
  host:
    node58: 172.21.17.58
    node59: 172.21.17.59
  weight:
    node58: 1
    node59: 1

group3:
  check:    https #http/https cehck uri
  port:     443
  uri:      /ok.html
  method:   failover
  host:
    node1:  172.21.17.60
    node2:  172.21.17.61
  order:    [node1, node2]
  timeout:  3000 #minisecond

group4:
  check:    ping
  host:
    host1:  172.21.17.60
    host2:  172.21.17.61
